* {
    margin: 0px;
    padding: 0px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    top:calc(50vh - 48px);
    left:50%
}
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #00a2ff;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

button:hover{
    background-color: #00a2ff !important;
    color:#fff !important;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
